/* ===== 英雄区域样式 ===== */
/* 总区域 */
#hero {
    position: fixed;
    inset: 0;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    background-color: var(--color-bg-blue);
}

/* 背景 */
#hero-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    inset: 0;
    background: url('../../../assets/images/background_small.webp') center/cover no-repeat;
    filter: blur(0px);
    transform: scale(1);
    will-change: transform, filter;
}

/* 高清置换 */
#hero-bg.bgloaded {
    background: url('../../../assets/images/background.webp') center/cover no-repeat;
}

/* 图标边框 */
#hero-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vmin;
    height: 20vmin;
    background-color: var(--color-white);
    border-radius: 40%;
    margin-top: 20%;
}

/* 图标本体 */
#hero-icon {
    width: 90%;
    height: 90%;
    display: block;
    border-radius: 40%;
}

#hero-title {
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    font-size: clamp(2.5rem, 16vmin, 8rem);
    font-weight: 900;
    /* letter-spacing: 0.1em; */
    /* color: var(--primary-color);
    text-shadow:
        0 0 16px var(--primary-color),
        2px 2px 8px rgba(0, 0, 0, 0.3); */
    /* white-space: nowrap; */
    /* will-change: transform, font-size; */
}

/* 
.hero-letter {
    animation: shine 4s ease-in-out infinite alternate;
    will-change: color, text-shadow;
}

@keyframes shine {
    0%, 100% {
        color: var(--primary-color);
        text-shadow:
            0 0 16px var(--primary-color),
            2px 2px 8px rgba(0, 0, 0, 0.3);
    }
    50% {
        color: var(--primary-dark);
        text-shadow:
            0 0 32px var(--primary-dark),
            2px 2px 8px rgba(0, 0, 0, 0.3);
    }
} */
