/* ===== 英雄区域样式 ===== */
/* 总区域 */
#hero {
    position: fixed;
    inset: 0;
    height: var(--vh);
    overflow: hidden;
    z-index: 10;
    background-color: color-mix(in srgb, var(--color-bg-blue) 50%, transparent);
    box-shadow: 0 0 32px var(--color-black);
    backdrop-filter: blur(8px);
    will-change: height;
}

/* 背景图 */
#hero-bg {
    position: absolute;
    width: var(--vw);
    height: var(--vh);
    background: url('../../../assets/images/background_small.webp') center/cover no-repeat;
    filter: blur(0px);
    transform: scale(1);
    will-change: transform, filter, top, opacity;
}

/* 高清背景图置换 */
#hero-bg.bgloaded {
    background: url('../../../assets/images/background.webp') center/cover no-repeat;
}

/* 图标边框 */
#hero-icon-wrapper {
    --top: 35dvh;

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20dvh;
    height: 20dvh;
    background: linear-gradient(-45deg, var(--color-title-red), var(--color-white));
    border-radius: 40%;
    left: 50vw;
    top: var(--top);
    box-shadow: 0 0 32px var(--color-black);
    transform: translateX(-50%) translateY(-50%);
    will-change: top;
}

/* 图标本体 */
#hero-icon {
    width: 90%;
    height: 90%;
    display: block;
    border-radius: 40%;
}

/* 主标题 */
#hero-title {
    --top: 55dvh;

    position: absolute;
    left: 50vw;
    top: var(--top);
    transform: translateX(-50%) translateY(-50%);
    font-weight: 900;
    font-size: clamp(2.5rem, 16vw, 8rem);
    letter-spacing: 0.1em;
    white-space: nowrap;
    will-change: font-size, left, top;
}

/* 字符样式 */
.hero-letter {
    position: relative;
    display: inline-block;
    color: var(--color-title-pink);
    animation: shine-fade 4s ease-in-out infinite alternate;
    text-shadow: 
        0 0 16px var(--color-title-pink),
        2px 2px 8px var(--color-black);
    will-change: text-shadow;
}

/* 闪光动画 */
@keyframes shine-fade {
    0% {
        color: var(--color-title-pink);
        text-shadow: 
            0 0 16px var(--color-title-pink),
            2px 2px 8px var(--color-black);
    }
    100% {
        color: var(--color-title-red);
        text-shadow:
            0 0 32px var(--color-title-red),
            2px 2px 8px var(--color-black);
    }
}
