<span id="column-pager-first" class="column-pager-button">
    <span class="column-pager-button-shadow"></span>
    <span class="column-pager-button-edge"></span>
    <span class="column-pager-button-front">首页</span>
</span>
<span id="column-pager-prev" class="column-pager-button">
    <span class="column-pager-button-shadow"></span>
    <span class="column-pager-button-edge"></span>
    <span class="column-pager-button-front">
        <span class="fa-solid fa-arrow-left"></span>
    </span>
</span>
<span class="column-pager-number current" id="column-pager-number1">1</span>
<span class="column-pager-text" id="column-pager-ellipsis1">...</span>
<span class="column-pager-number" id="column-pager-number2">2</span>
<span class="column-pager-number" id="column-pager-number3">3</span>
<span class="column-pager-number" id="column-pager-number4">4</span>
<span class="column-pager-number" id="column-pager-number5">5</span>
<span class="column-pager-number" id="column-pager-number6">6</span>
<span class="column-pager-text" id="column-pager-ellipsis2">...</span>
<span class="column-pager-number" id="column-pager-number7"></span>
<span id="column-pager-next" class="column-pager-button">
    <span class="column-pager-button-shadow"></span>
    <span class="column-pager-button-edge"></span>
    <span class="column-pager-button-front">
        <span class="fa-solid fa-arrow-right"></span>
    </span>
</span>
<span id="column-pager-last" class="column-pager-button">
    <span class="column-pager-button-shadow"></span>
    <span class="column-pager-button-edge"></span>
    <span class="column-pager-button-front">尾页</span>
</span>
<input type="number" id="column-pager-jump-input" min="1" max="100" value="1">
<span id="column-pager-jump-button" class="column-pager-button">
    <span class="column-pager-button-shadow"></span>
    <span class="column-pager-button-edge"></span>
    <span class="column-pager-button-front">
        跳转
        <span id="column-pager-jump-icon">
            <span class="fa-solid fa-arrow-right"></span>
        </span>
    </span>
</span>