/* ===== 一言样式 ===== */
/* 总体样式 */
#hitokoto {
    display: flex;
    text-align: center;
    width: fit-content;
    margin: 1rem auto;
    gap: 1rem;
    transition:
        transform 0.3s ease,
        gap 0.3s ease;
}
/* 悬停效果 */
#hitokoto:hover {
    gap: 2.5rem;
    transform: translateY(-10%);
}

/* 引号 */
.hitokoto-quote {
    font-size: 4rem;
    color: color-mix(in srgb, var(--color-title-pink) 40%, transparent);
    line-height: 1;
}

/* 一言文本 */
#hitokoto-text {
    display: flex;
    gap: 1rem;
    font-style: italic;
    font-size: 1.5rem;
    color: var(--color-hitokoto-purple);
    text-decoration: none;
    background: color-mix(in srgb, var(--color-title-pink) 10%, transparent);
    border: 1px solid color-mix(in srgb, var(--color-hitokoto-purple) 20%, transparent);
    border-radius: 1rem;
    padding: 1rem 3rem 1rem 3rem;
    transition:
        border 0.3s ease,
        background 0.3s ease;
}
/* 悬停效果 */
#hitokoto:hover #hitokoto-text {
    border: 1px solid color-mix(in srgb, var(--color-hitokoto-purple) 50%, transparent);
    background: color-mix(in srgb, var(--color-title-pink) 20%, transparent);
}
/* 激活效果 */
#hitokoto:active #hitokoto-text {
    border: 1px solid color-mix(in srgb, var(--color-hitokoto-purple) 75%, transparent);
    background: color-mix(in srgb, var(--color-title-pink) 50%, transparent);
}

/* 复制按钮样式 */
#hitokoto-copy-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    background: color-mix(in srgb, var(--color-hitokoto-purple) 20%, transparent);
    border: 1px solid color-mix(in srgb, var(--color-bg-blue) 20%, transparent);
    font-size: 1rem;
    border-radius: 0.5rem;
    width: 2rem;
    height: 2rem;
}
/* 悬停效果 */
#hitokoto-copy-btn:hover {
    background: color-mix(in srgb, var(--color-hitokoto-purple) 30%, transparent);
}
/* 激活效果 */
#hitokoto-copy-btn:active {
    transform: scale(0.95);
}
