/* ===== 导航栏样式 ===== */
#top-nav {
    --nav-height: 60px;

    position: fixed;
    height: var(--nav-height);
    top: 0;
    right: 20px;
    z-index: 20;
    display: flex;
    gap: 15px;
    visibility: hidden;
    opacity: 0;
    transition: 
        opacity 0.3s ease,
        visibility 0s ease 0.3s;
}

#top-nav.show {
    visibility: visible;
    opacity: 1;
    transition: 
        opacity 0.3s ease,
        visibility 0s ease 0s;
}

.nav-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
    transition: transform 0.3s ease;
}

.nav-item:hover {
    transform: translateY(-2px);
}
