/* ===== 导航栏样式 ===== */
/* 导航栏 */
#top-nav {
    --nav-height: 60px;

    position: fixed;
    height: var(--nav-height);
    top: 0;
    right: 20px;
    z-index: 20;
    display: flex;
    gap: 15px;
    visibility: hidden;
    opacity: 0;
    transition: 
        opacity 0.3s ease,
        visibility 0s ease 0.3s;
}
/* 显示状态 */
#top-nav.show {
    visibility: visible;
    opacity: 1;
    transition: 
        opacity 0.3s ease,
        visibility 0s ease 0s;
}
/* 导航项 */
.nav-item {
    --underline-y: 45px;

    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
    background: linear-gradient(to left, var(--color-title-pink), var(--color-title-red)) no-repeat;
    background-size: 0 4px;
    background-position-y: var(--underline-y);
    background-position-x: right;
    transition:
        transform 0.3s ease,
        background-size 0.3s ease;
}
/* 悬停效果 */
.nav-item:hover {
    transform: translateY(-2px);
        background-size: 100% 4px;
        background-position-x: left;
}
