/* ===== 联系区域样式 ===== */
/* 分割线 */
.contact-split {
    background-color: var(--color-bg-blue);
    width: 60%;
    height: 2px;
    opacity: 0.2;
    margin: 0 auto;
}

/* 页脚 */
#contact-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* 页脚链接样式 */
#contact-footer a {
    color: var(--color-gray);
    text-decoration: none;
    background: linear-gradient(to left, var(--color-bg-blue), var(--color-fakewhite)) no-repeat;
    background-size: 0 2px;
    background-position: right bottom;
    transition:
        background-size 0.3s ease;
}
/* 页脚链接悬停效果 */
#contact-footer a:hover {
    background-size: 100% 2px;
    background-position: left bottom;
}
