name: DeployTest
on:
  push:
    branches: [deploy-test]
  workflow_dispatch:
# 跳过压缩，直接部署，服务器端测试用
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      # ---------- 基础 ----------
      - name: 1. Checkout
        uses: actions/checkout@v4

      # ---------- 部署 ----------
      - name: 2. Deploy to VPS
        uses: burnett01/rsync-deployments@6.0.0
        with:
          switches: -rlvz --delete --exclude='.git*' --exclude='.user.ini' --chmod=Dg+rwx,Fg+rw
          path: ./
          remote_path: ${{ secrets.VPS_TARGET_DIR }}
          remote_host: ${{ secrets.VPS_HOST }}
          remote_user: ${{ secrets.VPS_USER }}
          remote_key: ${{ secrets.VPS_SSH_KEY }}